<div class="row mb-2 mt-4">
    <div class="col-md-6 mx-auto">
        <div class="no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-1 text-success">${audience}</strong>
                <h3 class="mb-2" id="post-title">${title}</h3>
                <p class="mb-0" id="caption">${caption}</p>
                <div class="mb-0 text-muted">
                    ${username} - ${timestamp}
                </div>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img id="image" width="100%" role="img" src="${imageSrc}">
            </div>
        </div>
    </div>
</div>